@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=Inter+Tight&family=Nunito+Sans&display=swap');

  .title{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 800;
    margin-bottom: 2%;
  }

  .me{
    display: flex;
    margin-bottom: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 8%;
  }
  .me p{
    color: #65AFFF;
  }

  .myPicture{
    display: flex;
    align-items: center;
  }

  .myDesc{
    font-size: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .desc{
    font-size: 30px;
  }
  
.social{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}