@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=Inter+Tight&family=Nunito+Sans&display=swap');

.main {
  min-height: 100vh;
  padding: 4rem 0;
  margin-left: 10%;
}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {
  .title{
    
    text-transform: uppercase;
    font-size: 105px;
    font-weight: 800;
    color: #efefef;
    text-shadow: 
      -1px 1px #919191,
      -2px 2px #919191,
      -3px 3px #919191,
      -4px 4px #919191,
      -5px 5px #919191,
      -6px 6px #919191,
      -7px 7px #919191,
      -8px 8px #919191,
      -9px 9px #919191,
      -10px 10px 1px #919191
    ;
  }

  .me{
    display: flex;
  }

  .myPicture{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myDesc{
    font-size: 20px;
    color: rgb(123, 123, 123);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
  }

  .myDesc>p+p{
    font-size: 30px;
  }
  
  .downloadCV{
    width: 200px;
    height: 100px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .downloadCV:hover{
    animation: pulse 800ms infinite ease-out;
  }

  @keyframes pulse {
    0%{
      opacity: 1;
    }
    50%{
      transform: scale(800ms);
      opacity: 0;
    }
    to{
      transform: scale(800ms);
      opacity: 1;
    }
  }
  .downloadCV>button{
    width: 200px;
    height: 100px;
    border: 3px solid white;
    border-radius: 30%;
  }
  .cv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    font-size: x-large;
  }
}
