
.linkBlack{
    color: black;
    border-bottom: 2px solid black;
    transition-property: color border-bottom;
    transition: ease-in-out;
    transition-duration: 200ms;
}


.linkBlack:hover{
    color: #65AFFF;
    border-bottom: 2px solid #65AFFF;
}