.navbar{
    background-color: rgb(75, 75, 75);
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    font-size: large;
}