.navbar{
    background-color: rgb(75, 75, 75);
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link{
    font-size: large;
    border-bottom: 2px solid white;
    transition-property: color border-bottom;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.link:hover{
    color: rgb(13, 158, 225);
    border-bottom: 2px solid rgb(13, 158, 225);
}