.single{
    padding: 2px 16px;
    background: #FFF;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #FFF;
}

.single:hover{
    border-left: 8px solid #2541B2;
}

.projects{
    min-height: 100vh;
    padding: 6rem 0;
    margin: 0% 15%;
}